:root {
  --yksgreen: rgba(131, 193, 51, 1);
  --yksblack: rgba(10, 10, 10, 1);
  --ykswhite: rgba(255, 255, 255, 1);
  --ykspremium: rgba(221, 175, 116, 1);
  --font-family: monospace;
}

body {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  padding: 0;
  background: var(--yksblack);
  font-family: var(--font-family);
  color: var(--ykswhite);
  display: flex;
  justify-content: stretch;
  justify-items: center;
}

#root {
  width: 100%;
}

.App {
  width: 100%;
}

a {
  color: var(--ykswhite);
  background: var(--yksgreen);
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
  padding: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  white-space: nowrap;
}

a:hover {
  color: var(--yksgreen);
  background: var(--ykswhite);
}

button {
  text-transform: uppercase;
  font-family: var(--font-family);
  background: var(--ykswhite);
  border: var(--yksgreen) solid 1px;
  color: var(--yksgreen);
  font-size: 1.2rem;
}

button:hover {
  background: var(--yksgreen);
  color: var(--ykswhite);
  border: var(--ykswhite) solid 1px;
}

button:active {
  background: var(--yksblack);
  color: var(--yksgreen);
  border: var(--ykswhite) solid 1px;
}

header {
  display: grid;
  grid-template-areas: 'empty title login';
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  white-space: nowrap;
  width: 100%;
}

header > h1 {
  grid-area: title;
  justify-self: center;
}

header > .header-logout {
  grid-area: login;
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 5px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.clips {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
  max-width: 80%;
  border: var(--ykspremium) 5px solid;
  padding: 10px;
}

.clip {
  min-width: 200px;
  max-width: 400px;
}

.clipButton {
  cursor: pointer;
  background: var(--ykspremium);
  color: var(--ykswhite);
  border: none;
}

.clipButton:hover {
  background: var(--ykswhite);
  color: var(--yksblack);
  border: none;
}

.paginator {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  gap: 2px;
  margin-left: -40px;
}

.paginatorLink {
  cursor: pointer;
  background: var(--ykspremium);
}

.paginatorLink:hover {
  color: var(--yksblack);
}

.paginatorActiveLink {
  color: var(--yksblack);
  background: var(--ykspremium);
}

/*
.layout {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.layout form {
  align-self: center;
  justify-self: center;
}

.control-panel {
  display: grid;
  width: 300px;
  background: var(--yksgreen);
  border: rgba(255, 255, 255, 1) solid 5px;
  margin-top: 40px;
  align-self: end;
}

.control-panel img {
  width: 100px;
  height: 100px;
  transform: translate3d(-40px, -40px, 0);
  border-radius: 50%;
}

.buzz-list {
  grid-area: queue;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 300px;
  grid-template-rows: 60px 1fr;
}

.buzz-list h1 {
  align-self: start;
  border-bottom: var(--ykswhite) dotted 2px;
}

.buzz-list ol {
  align-self: start;
  justify-self: start;
  padding: 0;
}

button[name="random"] {
  grid-area: random;
  height: 50px;
  border-right: 0;
}

button[name="clear"] {
  grid-area: clear;
  height: 50px;
}

button[name="mode"] {
  border-bottom: 0;
}

button:disabled {
  opacity: 0.5;
}

.buzz-queue {
  display: grid;
  grid-template-areas:
    "queue queue"
    "random clear";
  border-bottom: rgba(255, 255, 255, 1) solid 5px;
  margin-top: -100px;
}

.buzz-controls {
  display: grid;
  grid-template-columns: 1fr auto;
}

.buzz-controls p {
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  min-width: 100px;
}

.buzz-channels,
.buzz-servers {
  display: grid;
  grid-template-columns: 1fr auto;
} */

@media only screen and (max-width: 800px) {
  body {
    margin: 0;
    margin-bottom: 50px;
    font-size: 0.8em;
  }

  a {
    font-size: 0.8rem;
  }

  button {
    font-size: 0.8rem;
  }

  header {
    gap: 4px;
  }

  header > .header-logout {
    gap: 2px;
  }

  nav {
    gap: 2px;
  }

  .paginator {
    gap: 1px;
  }
}
